/laravel_video/node_modules
/laravel_video/public/hot
/laravel_video/public/storage
/laravel_video/storage/*.key
/laravel_video/vendor
/laravel_video/.idea
/laravel_video/.vscode
/laravel_video/nbproject
/laravel_video/.vagrant
/laravel_videoHomestead.json
/laravel_videoHomestead.yaml
/laravel_videonpm-debug.log
/laravel_videoyarn-error.log
/laravel_video.env
/laravel_video.phpunit.result.cache

.DS_Store
/vue_webapp/node_modules/
/vue_webapp/dist/
/vue_webapp/npm-debug.log*
/vue_webapp/yarn-debug.log*
/vue_webapp/yarn-error.log*
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
